$black-darker : #242424;
$black : #363636;
$black-lighter : #575757;
$black-lightest : #888888;

$blue-font : #015aff;
$blue-darker : #0064df;
$blue : #2a8aff;
$blue-lighter : #f8fbff;

$bg : #f4f7f6;
$line : #d1d1d1;
$line2 : #b8b8b8;