@import '../../../style/color';
@import '../../../style/sizing';

$size : 13px;
.icon {
    position: absolute;
    right: 14px;
    bottom: 12px;
    svg {
        width: 16px;
        color: $black-lighter;
    }
}

.frame {
    position: relative;
    cursor: pointer;
    transition: all .3s ease;
    border: 1px solid white;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.070) 0px 2px 4px -1px;
    border-radius: 16px;
    padding: 14px 16px;
    padding-left: 30px;
    margin-bottom: 22px;
    padding-bottom: 16px;
    &:last-child {
        margin-bottom: 0px;
    }
    &:hover {
        border-color: $blue;
        box-shadow: rgba(0, 0, 0, 0.425) 0px 1px 4px -1px ;
        .icon svg {
            color: $blue;
        }
    }
    a {
        color: $black-lighter;
        text-decoration: none;
    }
}
.dot {
    height: 30px;
    width: 30px;
    border-radius: 10px;
    position: absolute;
    left: 0;
    top: 0;
    transform: translate(-15px, 20px);
    background: #FFC75F;
    background: linear-gradient(132deg, #FFC75F 0%, #D65DB1 100%);
}

.title {
    font-size: 16px;
    font-weight: 600;
}
.company {
    font-size: 14px;
    margin-top: 6px;
}
.date {
    font-size: 14px;
    margin-top: 6px;
    span {
        color: #00000085;
        &::before {
            content: "\00B7";
            margin: 0 5px;
        }
    }
}
.disclaimer {
    margin-top: 13px;
    margin-bottom: 4px;
    span {
        font-size: 13px;
        padding: 4px 8px;
        background-color: #ff000018;
        border-radius: 5px;
        color: #d40000;
    }
}


@media( max-width : $media-medium )  {
    .disclaimer {
        margin-top: 13px;
        margin-bottom: 2px;
        span {
            font-size: 12.5px;
        }
    }
}