@import '../../../style/color';
@import '../../../style/sizing';

$bg-color: #ffff;
$dot-color: $blue;

$dot-size: 1px;
$dot-space: 26px;
$gap: 70px;

@keyframes fade_in {
    from {
        transform: translate(-14px);
        opacity: 0;
    }
    to {
        transform: translate(0px);
        opacity: 1;
    }
}

.frame {
    background-color: white;
}

.background {
    background-color: #F7F8F8;
    padding-top: 200px;
    padding-bottom: 280px;
    width: inherit;
    height: inherit;
    position: relative;
}
.svg {
    transform-origin: 100% 0%;
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(1.1);
    transition: all .3s ease;
    svg {
        transition: all 1.1s ease;
        path {
            transition: all 1.1s ease;
        }
    }
    &:hover {
        svg {
            transform: translate(0px, -10px);
        }
    }
}

.grid {
    display: grid;
    width: 100%;
    grid-template-columns: [me0] 1fr [me1] 340px [me2];
}

.intro_right {
    grid-column: me1 / me2;
    display: flex;
    align-items: center;
}
.intro_left {
    grid-column: me0 / me1;
}
.slogan {
    font-size: 60px;
    padding-right: 70px;
    color: $black;
    margin-top: 0px;
    letter-spacing: -.02em;
    line-height: 1.15;
    z-index: 2;
    animation: fade_in .3s ease 0s;
}
.summary {
    padding-right: 70px;
    line-height: 1.6;
    display: flex;
}
.text {
    width: 50%;
    padding: 0 20px;
    position: relative;
    animation: fade_in .3s ease;
    animation-fill-mode: backwards;
    &:first-child {
        padding-left: 0px;
        animation-delay: .1s;
    }
    &:last-child {
        padding-right: 0px;
        animation-delay: .2s;
    }
}
.resume {
    display: flex;
    border-radius: 10px;
    justify-content: space-between;
    margin-top: 30px;
    width: 420px;
    position: absolute;
    background-color: white;
    padding: 20px 24px;
    transform: translate(-24px);
    box-shadow: rgba(0, 0, 0, 0.100) 0px 4px 6px 0px;
}

.email {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    a {
        color: $black;
        font-weight: bold;
        font-size: 16px;
        text-decoration: none;
        svg {
            transform: translate(0px, 2px);
            margin-left: 1px;
        }
    }
    padding-right: 10px;
}
.drive {
    border-left: 1px solid #e0e0e0;
    padding-left: 18px;
}


.pict {
    width: 340px;
    position: relative;;
    &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 340px;
        background-color: $black;
        top: 0;
        left: 0;
        transform: translate(16px, -8px);
    }
    img {
        position: absolute;
        z-index: 2;
        width: inherit;
        transform: translate(0px, 8px);
    }
}

.print {
    transition: all .4s ease;
    font-size: 14px;
    padding: 10px 20px;
    height: 100%;
    border-radius: 8px;
    border: 0px;
    background-color: #03A678;
    color: white;
    font-weight: 600;
    letter-spacing: .02em;
    &:hover {
        background-color: #007554;
    }
}

@media( max-width : $media-medium ) {
    .svg {
        transform: scale(1);
    }
    .slogan {
        margin-top: 14px;
        font-size: 48px;
    }
    .pict {
        &::before {
            transform: translate(0px, -8px);
        }
        img {
            transform: translate(-16px, 8px);
        }
    }
    .summary {
        padding-right: 80px;
    }

    .print {
        font-size: 14px;
    }
    .text {
        padding: 16px;
    }
    .resume {
        margin-top: 40px;
    }
}

@media( max-width : $media-reg ) {
    .grid {
        grid-template-columns: [me0] 1fr [me1] 300px [me2];
    }
    .slogan {
        font-size: 60px;
        padding-right: 0px;
        grid-column: me0 / me2;
    }
    .summary {
        flex-direction: column;
        padding-right: 50px;
    }
    .text {
        padding: 0px;
        width: 100%;
    }
    .resume {
        margin-top: 10px;
        width: 420px;
        padding: 18px 20px;
        transform: translate(0px);
    }
    .pict {
        width: 300px;
        &::before {
            height: 300px;
            transform: translate(0px, 0px);
        }
        img {
            transform: translate(-16px, 16px);
        }
    }
}

@media( max-width : $media-mid ) {
    .svg {
        transform: scale(.7);
    }
    .background {
        padding-top: 130px;
        padding-bottom: 160px;
    }
    .grid {
        grid-template-columns: [me0] 1fr [me1] 200px [me2];
    }
    .pict {
        width: 200px;
        &::before {
            height: 200px;
        }
    }
}

@media( max-width : $media-phone ) {
    .background {
        padding-top: 60px;
        padding-bottom: 50px;
    }
    .svg {
        display: none;
    }
    .slogan {
        font-size: 48px;
        font-weight: 800;
        margin-top: 24px;
        padding: 0 20px;
        text-shadow: 4px 4px #cacaca;
    }
    .intro_right, .intro_left {
        grid-column: me0 / me2;
        position: relative;
    }
    .pict {
        width: calc(100% - 20px);
        height: calc(100vw - 130px);
        margin-left: 20px;
        border-radius: 20px 0 0 20px;
        overflow: hidden;
        &::before {
            display: none;
        }
        img {
            width: 100%;
            transform: translate(0px, -35px);
        }
    }
    .summary {
        padding-right: 0;
        padding-top: 40px;
        border-radius: 0 0 20px 0;
        border-left: 0px;
        border-top: 0px;
        p {
            margin: 16px 0px;
            padding: 0 20px;
            &:first-child {
                margin-top: 0px;
            }
            b {
                font-size: 18px;
            }
        }
    }
    .resume {
        margin: 10px 20px;
        padding: 16px 12px;
        padding-right: 20px;
        width: calc(100% - 40px);
    }
    .email {
        padding-right: 10px;
        a {
            font-size: 14px;
        }
    }
    .drive {
        padding-left: 14px;
    }
}
