@import '../../../style/color';
@import '../../../style/sizing';

$height : $header_height;
.nav {
    position: fixed;
    top: 0;
    height: $height;
    width: 100%;
    z-index: 101;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px -1px;
}
.relative {
    width: inherit;
    height: inherit;
    position: relative;
    overflow: hidden;
}
.socket {
    position: absolute;
    top: 0;
    width: inherit;
    height: inherit;
}
.wrapper {
    height: $height;
    display: flex;
    justify-content: space-between;
}
.logo {
    cursor: pointer;
    height: inherit;
    text-decoration: none;
    display: flex;
    align-items: center;
    transform: translate(-5px);
    img {
        transition: all .2s ease;
        height: 24px;
    }
}
.menu_socket {
    display: flex;
    align-items: center;
}
.menu {
    text-decoration: none;
    height: 100%;
    display: flex;
    align-items: center;
    margin-right: 30px;
    &:last-child {
        margin-right: 0px;
    }
    font-weight: 700;
    font-size: 16px;
    position: relative;
    > span {
        color: $black;
        overflow: hidden;
        position: relative;
        &:before {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background: $black;
            transform:  translateX(calc(-100% - 1px));
            transition: all .5s ease;
        }
        &:after {
            position: absolute;
            content: attr(data-content);
            left: 0;
            top: 0;
            width: 0;
            height: 100%;
            font-size: inherit;
            margin: 0 3px;
            color: white;
            white-space: nowrap;
            overflow: hidden;
            transition: width .5s ease;
            align-items: center;
            display: flex;
        }
        font-size: inherit;
        padding: 0 3px;
    }
    &:hover span:before, &:focus span:before {
        transform:  translateX(0);
    }
    &:hover span:after, &:focus span:after {
        width: calc(100%);
    }
    div {display: none;}
}
.menu_active {
    div {
        position: absolute;
        bottom: 0px;
        width: 100%;
        display: flex;
        flex-direction: row-reverse;
        padding-right: 3px;
        div {
            width: 8px;
            background-color: $black;
            height: 3px;
        }
    }
}


.header {
    position: relative;
    width: 100%;
    &__bar {
        box-sizing: content-box;
        width: 100%;
        padding-top: 40px;
        height: $header_height-full;
        position: absolute;
        z-index: 100;
        &__wrapper {
            max-width: $max-width-full;
            padding: 0 $max-padding-full;
            margin: 0 auto;
            height: 100%;
            display: flex;
            justify-content: space-between;
        }
    }
    &__icon {
        text-decoration: none;
        cursor: pointer;
        height: 100%;
        display: flex;
        align-items: center;
        img {
            transition: all .2s ease;
            height: 30px;
            transform: translate(-5px);
        }
        div {
            transition: all .2s ease;
            font-weight: 700;
            color: $black;
            font-size: 30px;
            letter-spacing: -.016em;
            transform: translate(-1px, -2px);
        }
        &:hover div { color: $blue; }
    }
    &__menu {
        display: flex;
        &__link {
            cursor: pointer;
            height: 100%;
            display: flex;
            align-items: center;
            margin-right: 20px;
            position: relative;
            &:last-child {margin-right: 0;}
            a{
                font-size: 14px;
                color: $black-lighter;
                padding: 3px 6px;
                border-radius: 5px;
            }
            div {
                position: absolute;
                width: 100%;
                height: 2px;
                z-index: -1;
                bottom: 0;
                left: 0;
                visibility: hidden;
                opacity: 0;
                background-color: $black;
            }
            &:hover a { color: $blue; }
        }
        .active {
            a { color: black; }
            div {
                visibility: visible;
                opacity: 1;
            }
            &:hover a { color: $blue; }
        }
    }
}

@media( max-width : $media-medium ) {
    .header{
        &__bar{
            height: $header_height;
            &__wrapper {
                max-width: $max-width;
            }
        }
        &__icon {
            img {
                height: 24px;
            }
            div {
                font-size: 24px;
                letter-spacing: -.016em;
            }
        }
    }
}

@media( max-width : $media-mid ) {
    .header__bar__wrapper {
        padding: 0 $max-padding-mid;
    }
} 

@media( max-width : $media-phone ) {
    .header__bar {
        padding-top: 0px;
        border-bottom: 1px solid #e0e0e0;;
        &__wrapper {
            padding: 0 $max-padding;
        }
    }
    .header__menu {
        visibility: hidden;
        opacity: 0;
    }
    .header__icon {
        img {display: none;}
        div {
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 18px;
            transform: translate(0px, 0px);
        }
    }
    .nav {
        display: none;
    }
}